* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --ff-body: 'Roboto', sans-serif;
    --fc-timer: #323238;

    font-size: 62.5%;
}

.hide {
    display: none;
}



body {
    font-family: var(--ff-body);
    font-size: 1.6rem;
}

.darkmode {
    background: #121214;
}

.darkmode .timer {
    color: white;
}

.darkmode .options .card {
    background: #29292E;
}

.darkmode .options .selected{
    background: #0A3442;
}

.darkmode .options svg path{
    fill: #C4C4CC;
}

.darkmode .controls .play path,
.darkmode .controls .stop path,
.darkmode .controls .plus path,
.darkmode .controls .sub path {
    fill: #C4C4CC;
}


.themes {
    position: absolute;
}

.light, .dark {
    position: absolute;
    right: -55rem;
    top: -25rem;
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 19.2rem;
    min-height: 100vh;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

main .timer {
    display: flex;
    font-size: 12.61rem;
    line-height: 14.8rem;
    color: var(--fc-timer);
}

main .controls {
    display: flex;
    gap: 4rem;
}

.options {
    width: 30.8rem;
    height: 33.6rem;

    display: flex;
    flex-wrap: wrap;
    gap: 3.2rem;
}

.options .card-wrapper {
    position: relative;
}

.options .card-wrapper input {
    position: absolute;
    height: 4px;
    width: 9rem;
    bottom: 2.5rem;
    left: 2.35rem;
    
    appearance: none;
    

    background: white;
    border-radius: 5px;
    outline: none;
}

.options .card-wrapper input::-webkit-slider-thumb {
    appearance: none;
    height: 1.6rem;
    width: 1.6rem;
    border-radius: 1rem;
    background-color: white;
}

.options .card {
    display: flex;
    background: #E1E1E6;
    border-radius: 24px;
    width: 13.8rem;
    height: 15.2rem;

    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3.2rem;

    cursor: pointer;
}

button {
    background-color: transparent;
    border: none;

    cursor: pointer;
}

.options .selected{
    background: #02799D;
}

.options .selected svg path{
    fill: white;
}